body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

#chat-area {
  display: flex;
  flex-direction: column;
}
#messages {
  display: flex;
  flex-direction: column-reverse;
  min-height: 95vh;
}

#chat-textbox {
  background-color: #808080;
  border-radius: 25px;
  width: 95vw;
  height: 3vh;
  border-color: transparent;
  font-family: ArialRoundedMTBold, Arial Rounded MT;
  display: flex;
  align-self: center;
  padding-left: 1vw;
  margin-top: 1vh;
  bottom: 1vh;
  position: sticky;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#message-container {
  font-family: ArialRoundedMTBold, Arial Rounded MT;
  border-radius: 7px;
  background-color: #0975e0;
  font-size: 20px;
  color: white;
  margin: 10px;
  margin-left: auto;
  margin-right: 1.5vw;
}

#message-container-other-user {
  font-family: ArialRoundedMTBold, Arial Rounded MT;
  border-radius: 7px;
  background-color: grey;
  font-size: 20px;
  color: white;
  margin: 10px;
  margin-right: auto;
  margin-left: 1.5vw;
}

#message {
  padding: 15px 20px 15px 20px;
}
